<h2 id="title">Ember Autoresize Modifier</h2>

<h3>Default: empty text area without styles</h3>
<textarea {{autoresize}} />

<h3>Fits existing content on initial render</h3>
<textarea
  value="Some content with line breaks.
This is a new line.
And the third line.
And a very long string that does not fit into one line. Cause it has even more content."
  {{autoresize}}
/>

<h3>Respects min-heigth and max-heigth CSS values</h3>
{{!-- template-lint-disable no-inline-styles --}}
<textarea
  style="min-height: 100px; max-height: 250px"
  value="Delete some content from this textarea to see it shrink until it reaches min-width.
Delete some content from this textarea to see it shrink until it reaches min-width.
Delete some content from this textarea to see it shrink until it reaches min-width.
Delete some content from this textarea to see it shrink until it reaches min-width.
Delete some content from this textarea to see it shrink until it reaches min-width.
Delete some content from this textarea to see it shrink until it reaches min-width.
Delete some content from this textarea to see it shrink until it reaches min-width.
Delete some content from this textarea to see it shrink until it reaches min-width."
  {{autoresize}}
/>
{{!-- template-lint-enable no-inline-styles --}}

<h3>Resizes when value changes upstream</h3>
<p>
  The value of both textareas is bound to each other. If you change it in one, it's reflected in
  the other as well. Both resize automatically to fit the value regardless if value is entered
  directly or updated upstream.
</p>
{{!-- template-lint-disable no-action --}}
<textarea value={{this.value}} {{autoresize this.value}} {{on "input" (action (mut this.value) value="target.value")}} />
<textarea value={{this.value}} {{autoresize this.value}} {{on "input" (action (mut this.value) value="target.value")}} />
{{!-- template-lint-enable no-action --}}
